<header>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-list_item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="nav-list_item">
                <a class="<%= path === '/flights' ? 'active' : '' %>" href="/flights">Flights</a>
            </li>
            <li class="nav-list_item">
                <a class="<%= path === '/squads' ? 'active' : '' %>" href="/squads">Squads</a>
            </li>
        </ul>
    </nav>
</header>