<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <h1>Welcome!</h1>
        <form action="/add-flight" method="POST">
            <input type="datetime-local" name="flightDateTime">
            <button type="submit">Add Flight</button>
        </form>
    </main>
    <%- include('includes/end.ejs') %>